<br><br>
<table class="table table-striped">
  <thead class="table-info">
  <tr>
    <th scope="col" colspan="4"><h5>Detail Product</h5></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">Name:</th>
    <td>{{product.name}}</td>
  </tr>
  <tr>
    <th scope="row">Price:</th>
    <td>{{product.price}}</td>
  </tr>
  <tr>
    <th scope="row">Color:</th>
    <td>{{product.color}}</td>
  </tr>
  <tr>
    <th scope="row">Desc:</th>
    <td>{{product.desc}}</td>
  </tr>
  </tbody>
</table>
<a (click)="list()" class="btn btn-info" >Cancel</a>
